html {
    height: 100%;
}
body {
    height: 100%;
    padding-top: 56px;
}

hr {
    background-color: #d65108;
}
/*.container {*/
    /*position: relative;*/
    /*top: 50%;*/
    /*transform: translateY(-100%);*/
    /*text-align: center;*/
/*}*/
#button-addon6 {
    background-color: #198bcb;
}

.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.portfolio-item {
    margin-bottom: 30px;
}


.card-img-top {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

#project-dets-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#affiliation-logo {
    height: 50px;
}
  
.btn-primary {
    background-color: #198bcb !important;
    border-color: #198bcb !important;
}

.carousel h1,
.carousel h2,
.carousel h3,
.carousel h4,
.carousel h5,
.carousel h6,
.carousel p,
.carousel a:link,
.carousel a:active,
.carousel a:visited {
    color: #fff !important;
}

.carousel-caption {
    bottom: 20% !important;
}

.carousel-caption .display-4 {
    font-size: 2.0rem;
}

.carousel-caption .col{
    background-color: #000;
    background-color: rgba(0,0,0,0.6);
}